<?xml version="1.0"?>
<robot name="box">

  <link name="box">
    <collision>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size= "0.04 0.04 0.08" />
      </geometry>
      <surface>
        <contact>
          <collide_without_contact>false</collide_without_contact>
        </contact>
      </surface>
    </collision>

    <visual>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size= "0.04 0.04 0.08" />
      </geometry>
    </visual>

    <inertial>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value= "0.1" />
      <inertia
        ixx="0.15" ixy="0.0"  ixz="0.0"
        iyy="0.15" iyz="0.0"
        izz="0.15" />
    </inertial>
  </link>

  <gazebo reference="box">
    <material>Gazebo/Red</material>
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

</robot>