<?xml version="1.0"?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Seemal Asif      - s.asif@cranfield.ac.uk                                   #
#           Phil Webb        - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: July, 2022.                                                                    #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the ROS2 ABB-IRB120 .urdf files in this ROS2   #
#  repository has been taken from the following resource:                               #
#       - abb_experimental (https://github.com/ros-industrial/abb_experimental)         #
#                                                                                       #
#  AUTHORS:                                                                             #
#       - ROS-Industrial - https://rosindustrial.org                                    #
#       - Mark Culleton (Trinity College Dublin) - culletom@tcd.ie                      #
#       - Kevin Kelly   (Trinity College Dublin)                                        #
#                                                                                       #
#  COPYRIGHT - ROS-Industrial                                                           #
#  (ORIGINAL LICENSE) -> Licensed under the Apache-2.0 License.                         #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  The original files contain the .urdf information of the robot for ROS1, and these    #
#  have been modified for ROS2.                                                         #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA (2022) ROS2.0 ROBOT SIMULATION. URL: https://github.com/IFRA-Cranfield/ros2_RobotSimulation.

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="irb120_ros2control" params="prefix EE_no EE_schunk" >

    <!-- ROS2_CONTROL tag name: -->
    <xacro:property name="name" value="GazeboSystem"/>

    <!-- ===== Gazebo ROS2_CONTROL plugin ===== -->
    <!-- No End-Effector: -->
    <xacro:if value="${EE_no}">
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
          <parameters>$(find irb120_ros2_gazebo)/config/irb120_controller.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>
    <!-- End-Effector -> SCHUNK EGP-64 GRIPPER: -->
    <xacro:if value="${EE_schunk}">
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
          <parameters>$(find irb120_ros2_gazebo)/config/irb120egp64_controller.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>
    
    <!-- ========== ROS2 CONTROL ========== -->

    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <!-- irb120_joint1 -->
      <joint name="${prefix}joint_1">
        <command_interface name="position">
          <param name="min">-2.87979</param>
          <param name="max">2.87979</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-4.36332</param>
          <param name="max">4.36332</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <!-- irb120_joint2 -->
      <joint name="${prefix}joint_2">
        <command_interface name="position">
          <param name="min">-1.91986</param>
          <param name="max">1.91986</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-4.36332</param>
          <param name="max">4.36332</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <!-- irb120_joint3 -->
      <joint name="${prefix}joint_3">
        <command_interface name="position">
          <param name="min">-1.91986</param>
          <param name="max">1.22173</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-4.36332</param>
          <param name="max">4.36332</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <!-- irb120_joint4 -->
      <joint name="${prefix}joint_4">
        <command_interface name="position">
          <param name="min">-2.79253</param>
          <param name="max">2.79253</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-5.58505</param>
          <param name="max">5.58505</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <!-- irb120_joint5 -->
      <joint name="${prefix}joint_5">
        <command_interface name="position">
          <param name="min">-2.094395</param>
          <param name="max">2.094395</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-5.58505</param>
          <param name="max">5.58505</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <!-- irb120_joint6 -->
      <joint name="${prefix}joint_6">
        <command_interface name="position">
          <param name="min">-6.98132</param> 
          <param name="max">6.98132</param> 
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-7.33038</param>
          <param name="max">7.33038</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- =================================== -->
      <!-- ========== END-EFFECTORS ========== -->

      <!-- === SCHUNK EGP-64 GRIPPER === -->
      <xacro:if value="${EE_schunk}">
        <!-- egp64_finger_left_joint -->
        <joint name="egp64_finger_left_joint">
          <command_interface name="position">
            <param name="min">-0.001</param>
            <param name="max">0.04</param>
          </command_interface>
          <command_interface name="velocity">
            <param name="min">-0.2</param>
            <param name="max">0.2</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <!-- egp64_finger_right_joint -->
        <joint name="egp64_finger_right_joint">
          <command_interface name="position">
            <param name="min">-0.001</param>
            <param name="max">0.04</param>
          </command_interface>
          <command_interface name="velocity">
            <param name="min">-0.2</param>
            <param name="max">0.2</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="EE_egp64_joint">
          <command_interface name="position">
            <param name="min">0.0</param>
            <param name="max">0.0</param>
          </command_interface>
          <command_interface name="velocity">
            <param name="min">0.0</param>
            <param name="max">0.0</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
        </joint> 
      </xacro:if>
      <!-- === SCHUNK EGP-64 GRIPPER === -->

    </ros2_control>

    <gazebo reference="${prefix}base_link">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="${prefix}link_1">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="${prefix}link_2">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="${prefix}link_3">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="${prefix}link_4">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="${prefix}link_5">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="${prefix}link_6">
      <selfCollide>false</selfCollide>
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- =================================== -->
    <!-- ========== END-EFFECTORS ========== -->

    <!-- === SCHUNK EGP-64 GRIPPER === -->
    <xacro:if value="${EE_schunk}">
      <gazebo reference="egp64_gripper_base_link">
        <selfCollide>false</selfCollide>
      </gazebo>
      <gazebo reference="egp64_finger_left_link">
        <selfCollide>false</selfCollide>
      </gazebo>
      <gazebo reference="egp64_fingertip_left_link">
        <selfCollide>false</selfCollide>
      </gazebo>  
      <gazebo reference="egp64_finger_right_link">
        <selfCollide>false</selfCollide>
      </gazebo>
      <gazebo reference="egp64_fingertip_right_link">
        <selfCollide>false</selfCollide>
      </gazebo> 
    </xacro:if>
    <!-- === SCHUNK EGP-64 GRIPPER === -->

    <gazebo reference="end_effector_frame_fixed_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
      <!-- For compatibility with SDFormat < 4.4 -->
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

  </xacro:macro>

</robot>