<?xml version="1.0"?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Seemal Asif      - s.asif@cranfield.ac.uk                                   #
#           Phil Webb        - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: July, 2022.                                                                    #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the ROS2 UR5-Robot .urdf files in this ROS2    #
#  repository has been taken from the following resources:                              #
#       - Universal Robots ROS2 Description:                                            #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Description          #
#       - Universal Robots ROS2 Gazebo Simulation:                                      #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation    #
#                                                                                       #
#  AUTHORS:                                                                             #
#       - ROS-Industrial - https://rosindustrial.org                                    #
#       - Universal Robots - https://github.com/UniversalRobots                         #
#       - Nadia Hammoudeh Garcia, Kelsey Hawkins, G.A. vd. Hoorn, Lovro Ivanov, Mathias #
#         Ludtke, Wim Meeussen, Felix Messmer, Miguel Prada Sarasola, Denis Stogl,      #
#         Andy Zelenak, Marvin Grosse Besselmann.                                       #
#       - Maintainers: Felix Exner (exner@fzi.de), Tristan Schnell (schnell@fzi.de),    #
#         Lovro Ivanov (lovro.ivanov@gmail.com), Denis Stogl (denis@stoglrobotics.de).  #
#                                                                                       #
#  Copyright (c) 2021, Universal Robots A/S                                             #
#  (ORIGINAL LICENSE) -> Licensed under the BSD 3-Clause License.                       #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  Robot information/specifications have been taken, and the code has been modified and #
#  re-organised in accordance with the ros2_RobotSimulation standards.                  #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA (2022) ROS2.0 ROBOT SIMULATION. URL: https://github.com/IFRA-Cranfield/ros2_RobotSimulation.

-->

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
    <inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="ur5_common">
    
    <!-- ***** PARAMETER VALUES ***** -->
    <!-- All parameter values have been taken from the following .yaml files, located in the ~/ur5_ros2_gazebo/config folder:
          - default_kinematics.yaml
          - joint_limits.yaml
          - physical_parameters.yaml
          - visual_parameters.yaml 
          -->

    <!-- JOINTS LIMIT PARAMETERS -->
    <xacro:property name="shoulder_pan_lower_limit" value="-6.2832" scope="parent"/>
    <xacro:property name="shoulder_pan_upper_limit" value="6.2832" scope="parent"/>
    <xacro:property name="shoulder_pan_velocity_limit" value="3.1416" scope="parent"/>
    <xacro:property name="shoulder_pan_effort_limit" value="150.0" scope="parent"/>
    <xacro:property name="shoulder_lift_lower_limit" value="-6.2832" scope="parent"/>
    <xacro:property name="shoulder_lift_upper_limit" value="6.2832" scope="parent"/>
    <xacro:property name="shoulder_lift_velocity_limit" value="3.1416" scope="parent"/>
    <xacro:property name="shoulder_lift_effort_limit" value="150.0" scope="parent"/>
    <xacro:property name="elbow_joint_lower_limit" value="-3.1416" scope="parent"/>
    <xacro:property name="elbow_joint_upper_limit" value="3.1416" scope="parent"/>
    <xacro:property name="elbow_joint_velocity_limit" value="3.1416" scope="parent"/>
    <xacro:property name="elbow_joint_effort_limit" value="150.0" scope="parent"/>
    <xacro:property name="wrist_1_lower_limit" value="-6.2832" scope="parent"/>
    <xacro:property name="wrist_1_upper_limit" value="6.2832" scope="parent"/>
    <xacro:property name="wrist_1_velocity_limit" value="3.1416" scope="parent"/>
    <xacro:property name="wrist_1_effort_limit" value="28.0" scope="parent"/>
    <xacro:property name="wrist_2_lower_limit" value="-6.2832" scope="parent"/>
    <xacro:property name="wrist_2_upper_limit" value="6.2832" scope="parent"/>
    <xacro:property name="wrist_2_velocity_limit" value="3.1416" scope="parent"/>
    <xacro:property name="wrist_2_effort_limit" value="28.0" scope="parent"/>
    <xacro:property name="wrist_3_lower_limit" value="-6.2832" scope="parent"/>
    <xacro:property name="wrist_3_upper_limit" value="6.2832" scope="parent"/>
    <xacro:property name="wrist_3_velocity_limit" value="3.1416" scope="parent"/>
    <xacro:property name="wrist_3_effort_limit" value="28.0" scope="parent"/>

    <!-- DH PARAMETERS -->
    <xacro:property name="d1" value="0.089159" scope="parent"/>
    <xacro:property name="a2" value="-0.42500" scope="parent"/>
    <xacro:property name="a3" value="-0.39225" scope="parent"/>
    <xacro:property name="d4" value="0.10915" scope="parent"/>
    <xacro:property name="d5" value="0.09465" scope="parent"/>
    <xacro:property name="d6" value="0.0823" scope="parent"/>

    <!-- kinematics -->
    <xacro:property name="shoulder_x" value="0" scope="parent"/>
    <xacro:property name="shoulder_y" value="0" scope="parent"/>
    <xacro:property name="shoulder_z" value="0.089159" scope="parent"/>
    <xacro:property name="shoulder_roll" value="0" scope="parent"/>
    <xacro:property name="shoulder_pitch" value="0" scope="parent"/>
    <xacro:property name="shoulder_yaw" value="0" scope="parent"/>

    <xacro:property name="upper_arm_x" value="0" scope="parent"/>
    <xacro:property name="upper_arm_y" value="0" scope="parent"/>
    <xacro:property name="upper_arm_z" value="0" scope="parent"/>
    <xacro:property name="upper_arm_roll" value="1.570796327" scope="parent"/>
    <xacro:property name="upper_arm_pitch" value="0" scope="parent"/>
    <xacro:property name="upper_arm_yaw" value="0" scope="parent"/>

    <xacro:property name="forearm_x" value="-0.425" scope="parent"/>
    <xacro:property name="forearm_y" value="0" scope="parent"/>
    <xacro:property name="forearm_z" value="0" scope="parent"/>
    <xacro:property name="forearm_roll" value="0" scope="parent"/>
    <xacro:property name="forearm_pitch" value="0" scope="parent"/>
    <xacro:property name="forearm_yaw" value="0" scope="parent"/>

    <xacro:property name="wrist_1_x" value="-0.39225" scope="parent"/>
    <xacro:property name="wrist_1_y" value="0" scope="parent"/>
    <xacro:property name="wrist_1_z" value="0.10915" scope="parent"/>
    <xacro:property name="wrist_1_roll" value="0" scope="parent"/>
    <xacro:property name="wrist_1_pitch" value="0" scope="parent"/>
    <xacro:property name="wrist_1_yaw" value="0" scope="parent"/>

    <xacro:property name="wrist_2_x" value="0" scope="parent"/>
    <xacro:property name="wrist_2_y" value="-0.09465" scope="parent"/>
    <xacro:property name="wrist_2_z" value="-1.941303950897609e-11" scope="parent"/>
    <xacro:property name="wrist_2_roll" value="1.570796327" scope="parent"/>
    <xacro:property name="wrist_2_pitch" value="0" scope="parent"/>
    <xacro:property name="wrist_2_yaw" value="0" scope="parent"/>

    <xacro:property name="wrist_3_x" value="0" scope="parent"/>
    <xacro:property name="wrist_3_y" value="0.0823" scope="parent"/>
    <xacro:property name="wrist_3_z" value="-1.688001216681175e-11" scope="parent"/>
    <xacro:property name="wrist_3_roll" value="1.570796326589793" scope="parent"/>
    <xacro:property name="wrist_3_pitch" value="3.141592653589793" scope="parent"/>
    <xacro:property name="wrist_3_yaw" value="3.141592653589793" scope="parent"/>

    <!-- OFFSETS -->
    <xacro:property name="shoulder_offset" value="0.13585" scope="parent"/>
    <xacro:property name="elbow_offset" value="0.0165" scope="parent"/>

    <!-- INERTIA PARAMETERS -->
    <!-- mass -->
    <xacro:property name="base_mass" value="4.0" scope="parent"/>
    <xacro:property name="shoulder_mass" value="3.7" scope="parent"/>
    <xacro:property name="upper_arm_mass" value="8.393" scope="parent"/>
    <xacro:property name="upper_arm_inertia_offset" value="0.136" scope="parent"/>
    <xacro:property name="forearm_mass" value="2.275" scope="parent"/>
    <xacro:property name="wrist_1_mass" value="1.219" scope="parent"/>
    <xacro:property name="wrist_2_mass" value="1.219" scope="parent"/>
    <xacro:property name="wrist_3_mass" value="0.1879" scope="parent"/>
    <!-- link inertia parameter -->
    <xacro:property name="base_inertia_radius" value="0.06" scope="parent"/>
    <xacro:property name="base_inertia_length" value="0.05" scope="parent"/>
    <xacro:property name="shoulder_inertia_radius" value="0.075" scope="parent"/>
    <xacro:property name="shoulder_inertia_length" value="0.178" scope="parent"/>
    <xacro:property name="upperarm_inertia_radius" value="0.06" scope="parent"/>
    <xacro:property name="upperarm_inertia_length" value="0.425" scope="parent"/>
    <xacro:property name="forearm_inertia_radius" value="0.06" scope="parent"/>
    <xacro:property name="forearm_inertia_length" value="0.39225" scope="parent"/>
    <xacro:property name="wrist_1_inertia_radius" value="0.06" scope="parent"/>
    <xacro:property name="wrist_1_inertia_length" value="0.095" scope="parent"/>
    <xacro:property name="wrist_2_inertia_radius" value="0.06" scope="parent"/>
    <xacro:property name="wrist_2_inertia_length" value="0.095" scope="parent"/>
    <xacro:property name="wrist_3_inertia_radius" value="0.0375" scope="parent"/>
    <xacro:property name="wrist_3_inertia_length" value="0.0305" scope="parent"/>
    <!-- center of mass -->
    <xacro:property name="shoulder_cog" value="0.0 0.00193 -0.02561" scope="parent"/>
    <xacro:property name="upper_arm_cog" value="0.0 -0.024201 0.2125" scope="parent"/>
    <xacro:property name="forearm_cog" value="0.0 0.0265 0.11993" scope="parent"/>
    <xacro:property name="wrist_1_cog" value="0.0 0.110949 0.01634" scope="parent"/>
    <xacro:property name="wrist_2_cog" value="0.0 0.0018 0.11099" scope="parent"/>
    <xacro:property name="wrist_3_cog" value="0.0 0.001159 0.0" scope="parent"/>
    <!-- cylinder radius -->
    <xacro:property name="shoulder_radius" value="0.06" scope="parent"/>
    <xacro:property name="upper_arm_radius" value="0.054" scope="parent"/>
    <xacro:property name="elbow_radius" value="0.06" scope="parent"/>
    <xacro:property name="forearm_radius" value="0.04" scope="parent"/>
    <xacro:property name="wrist_radius" value="0.045" scope="parent"/>

    <!-- VISUAL OFFSETS -->
    <xacro:property name="wrist_1_visual_offset" value="-0.093" scope="parent"/>
    <xacro:property name="wrist_2_visual_offset" value="-0.095" scope="parent"/>
    <xacro:property name="wrist_3_visual_offset" value="-0.0818" scope="parent"/>
    
    <!--KINEMATICS HASH-->
    <xacro:property name="kinematics_hash" value="calib_209549117540498681" scope="parent"/>
  </xacro:macro>
</robot>