<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find cr35ia_ros2_gazebo)/urdf/fanuc_resources/common_colours.xacro"/>

  <xacro:macro name="material_fanuc_yellow">
    <material name="">
      <color rgba="${color_fanuc_yellow}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_white">
    <material name="">
      <color rgba="${color_fanuc_white}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_grey">
    <material name="">
      <color rgba="${color_fanuc_grey}"/>
    </material>abb

  <xacro:macro name="material_fanuc_gray24">
    <material name="">
      <color rgba="${color_fanuc_gray24}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_gray28">
    <material name="">
      <color rgba="${color_fanuc_gray28}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_gray31">
    <material name="">
      <color rgba="${color_fanuc_gray31}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_gray40">
    <material name="">
      <color rgba="${color_fanuc_gray40}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_yellow1">
    <material name="">
      <color rgba="${color_fanuc_yellow1}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_BAB0B0">
    <material name="">
      <color rgba="${color_fanuc_BAB0B0}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_E6E6E6">
    <material name="">
      <color rgba="${color_fanuc_E6E6E6}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_00FF73">
    <material name="">
      <color rgba="${color_fanuc_00FF73}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_black">
    <material name="">
      <color rgba="${color_fanuc_black}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_greyish">
    <material name="">
      <color rgba="${color_fanuc_greyish}"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_fanuc_green">
    <material name="">
      <color rgba="${color_fanuc_green}"/>
    </material>
  </xacro:macro>

</robot>