<?xml version="1.0"?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Seemal Asif      - s.asif@cranfield.ac.uk                                   #
#           Phil Webb        - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: October, 2022.                                                                 #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the CR35-iA robot .urdf files in this ROS2     #
#  repository has been taken from the following resource:                               #
#       - ros-industrial/fanuc (https://github.com/ros-industrial/fanuc)                #
#                                                                                       #
#  AUTHORS:                                                                             #
#       - ROS-Industrial - https://rosindustrial.org                                    #
#       - G.A. vd. Hoorn (TU Delft Robotics Institute) - g.a.vanderhoorn@tudelft.nl     #
#                                                                                       #
#  COPYRIGHT - ROS-Industrial                                                           #
#  (ORIGINAL LICENSE) -> Licensed under the Apache-2.0 License.                         #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  The original files contain the .urdf information of the robot for ROS1, and these    #
#  have been modified for ROS2.                                                         #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA (2022) ROS2.0 ROBOT SIMULATION. URL: https://github.com/IFRA-Cranfield/ros2_RobotSimulation.

-->

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="cr35ia_transmission" params="prefix">

    <transmission name="cr35ia_joint1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}cr35ia_joint1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="cr35ia_joint1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="cr35ia_joint2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}cr35ia_joint2">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="cr35ia_joint2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="cr35ia_joint3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}cr35ia_joint3">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="cr35ia_joint3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="cr35ia_joint4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}cr35ia_joint4">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="cr35ia_joint4_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="cr35ia_joint5_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}cr35ia_joint5">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="cr35ia_joint5_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="cr35ia_joint6_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}cr35ia_joint6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="cr35ia_joint6_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>